  

         <div class="box box-info">
                <div class="box-header">
                   
                    <button type="button" ng-disabled="peticionando" ng-click="ProcesarFinal()" class="btn btn-primary  pull-right" style="margin-left: 1em" ><i class="fa fa-bolt"></i></button>
                </div>
                <div class="box-body">
                 
                 <form class="form-horizontal"  id="form">
                  <div class="box-body">
  
                
               
                <div class="form-group">
                      <label for="aplicacion" class="col-sm-2 control-label">Bodegas</label>
                      <div class="col-sm-10">
                      <select ng-model="ubicacion" class="form-control" multiple>
                          <option ng-repeat="v in ubicaciones"   value="{{v.codigo}}" >{{v.ubicacion}}</option>
                      </select>
                      </div>
                 </div>  
                  
                

                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    
                   <div class="table-responsive no-padding">
                      <table class="table table-hover table-striped" ng-show="ptos.length>0">
                                 
                                          <tr style="background-color: #00C0EF">
                                            <th>Producto</th>
                                            <th>Descripcion</th>
                                            <th>Ubicacion</th>
                                            <th style="text-align: right;">Existencia</th>
                                          
                                        </tr>
                                   
                                        <tr data-ng-repeat="t in ptos">
                                             <td>{{t.producto}} </td>
                                             <td>{{t.descripcion1}} </td>
                                             <td>{{t.ubicacion}} </td>
                                             <td style="text-align: right;">{{t.existencia| number:4}} </td>
                                           
                                        </tr>
                                    
                    </table>
                   </div> 
                      
                  </div><!-- /.box-footer -->
                </form>
                    
                    
                </div><!-- /.box-body -->
                <!-- Loading (remove the following to stop the loading)-->
                <div class="overlay" id="bloqueForm" ng-show="peticionando">
                  <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->
              </div><!-- /.box -->
              
              
              <script type="text/javascript">
                  
                  $('.breadcrumb').html('<li><i class="fa fa-archive"></i>Inventario</li>\n\
                                <li><i class="fa fa-newspaper-o"></i>Informes</li>\n\
                                <li>Infome de existencias</li>');
                  
              </script> 
           
            
      <!----------------------------------------------------------------------------------------------------------------------------------------->
      
       
           
    