    
              <div class="box box-info">
                <div class="box-header">
                  <h3 class="box-title">Item</h3>
                </div>
                <div class="box-body">
                 
                    
                     <div class="input-group">
                                            <span class="input-group-addon" ng-click="Buscar()"><i class="fa fa-search"></i></span>
                                             <input type="text" class="form-control" placeholder="Nombre" ng-model="nombre_busqueda" my-enter="Buscar()" />
                                         </div>
               
           <form class="form-horizontal" style="margin-top: 1em">
                  
                   <div class="form-group">
                      <label for="aplicacion" class="col-sm-2 control-label">Dato</label>
                      <div class="col-sm-10">
                      <select ng-model="criterio" class="form-control" required>
                          <option ng-repeat="v in grupos" value="{{v.codigo}}" ng-selected="criterio_seleccionado==criterio">{{v.nombre}}</option>
                      </select>
                      </div>
                    </div>
                      
                   <div class="form-group">
                      <label for="aplicacion" class="col-sm-2 control-label">Ubicacion</label>
                      <div class="col-sm-10">
                      <select ng-model="ubicacion" class="form-control" required>
                          <option ng-repeat="v in ubicaciones" value="{{v.codigo}}" ng-selected="ubicacion_seleccionada">{{v.ubicacion}}</option>
                      </select>
                      </div>
                    </div>  
                  
                            <div class="box-footer table-responsive">
                    
                                <table class="table table-bordered  table-striped" ng-show="productos.length>0">
                                    <thead style="background-color: #00C0EF">
                                         <tr>
                                            <th>Cod</th>
                                            <th>Exist</th>
                                            <th>Barra</th>
                                            <th>Descripcion</th>
                                            <th>Precio 1</th>
                                            <th>Precio 2</th>
                                            <th>Precio 3</th>
                                            <th>Precio 4</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         <tr data-ng-repeat="t in productos" ng-click="Establecer(t);">
                                             <td>{{t.codigo}} </td>
                                             <td>{{t.existencia|number:0}} </td>
                                             <td>{{t.codigo_barra}} </td>
                                             <td>{{t.descripcion1}} </td>
                                             <td>{{t.pvp1| number:4}} </td>
                                             <td>{{t.pvp2| number:4}} </td>
                                             <td>{{t.pvp3| number:4}} </td>
                                             <td>{{t.pvp4| number:4}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </form>  
                    
                </div><!-- /.box-body -->
                <!-- Loading (remove the following to stop the loading)-->
                <div class="overlay" id="bloqueForm" ng-show="peticionando">
                  <i class="fa fa-refresh fa-spin"></i>
                </div>
                <!-- end loading -->
              </div><!-- /.box -->
            
              <script type="text/javascript">
                   $('.breadcrumb').html('<li><i class="fa fa-archive"></i>Inventario</li>\n\
                                <li><i class="fa fa-newspaper-o"></i>Informes</li>\n\
                                <li>Informe de Precios</li>');
                  
              </script>     
        

            